@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Bonjour livreur 12443, vos livraisons vont "C charper"</h2>
    <button asp-controller="ObtenirRoute">Obtenir route</button>
</div>
